<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/css_bootstrap.min.css">
    <link rel="stylesheet" href="../Public/css/style.css">
    <script src="../Public/js/js_bootstrap.bundle.min.js" defer></script>
    <script src="../Public/js/jquery-3.7.1.min.js" defer></script>
    <link rel="stylesheet" href="../Public/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>PolyUni</title>
</head>

<body>
    <!-- Header -->
    <header class="d-flex justify-content-between align-content-center flex-wrap px-4" id="header">
        <div class="logo d-flex align-content-center flex-wrap">
            <a href="./home.html"><img src="../favicon.png" alt="error" width="38px" height="38px"></a>
            <h4 class="logoHeading">PolyUni</h4>
        </div>
        <form action="" method="post" class="search d-flex flex-wrap align-content-center">
            <div class="iconSearch d-flex flex-wrap align-content-center">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input class="searchInput" type="text" placeholder="Tìm kiếm khóa học, bài viết, video, ...">
        </form>
        <div class="login d-flex flex-wrap align-content-center">
            <a href="#" class="btn btn-Signin">Đăng nhập</a>
            <a href="#" class=" btn btn-register">Đăng ký</a>

        </div>
    </header>
    <!-- Header -->
    
    <!-- Course detail -->
    <div class="container-fluid w-1400 my-4" id="course-detail">
        <div class="row">
            <div class="col-lg-6">
                <div>
                    <img class="w-100 " src="../Public/images/course_thumbnail.png" alt="">
                </div>

                <div class="row my-3">
                    <div class="col-sm pe-sm-2 mb-2">
                        <a class="btn btn-primary btn-lg w-100 rounded-0 border-black border-2 bg__main-color fw-bold " href="#">Mua ngay</a>
                    </div>
                    <div class="col-sm ps-sm-2">
                        <a class="btn btn-primary btn-lg w-100 rounded-0 border-black border-2 bg-light text-dark fw-bold " href="#">Thêm vào giỏ hàng</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="fw-bolder pt-lg-3">ReactJS cho người mới bắt đầu</h1>
                <p class="text-danger fw-bold fs-3">999,999 đ</p>
                <div>
                    <h5 class="fw-bold mb-3">Khóa học này bao gồm:</h5>
                    <div class="row ps-3">
                            <div class="col-sm mb-3">
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                                <div class="d-flex align-items-center mb-2 ">
                                    <i class="fa-solid fa-video fa-lg pe-2 align-content-between "></i>
                                    <span class="">56,5 giờ video theo yêu cầu</span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Course detail -->

    <!-- Course desc -->
    <div class="container-fluid w-1400 my-4" id="course-desc">
        <h3 class="mb-3 ">Mô tả</h3>
        <p class="fs-5 text-justify">
            React.JS là một thư viện, framework giúp xây dựng một website hiện đại, có tính mở rộng và hiệu năng cực lớn. Các sản phẩm tiêu biểu sử dụng React có thể kể đến như Facebook và Instagram.<br><br>
            
            Được Facebook chống lưng, cũng như đầu tư mạnh mẽ, cộng với một cộng đồng đông đảo sử dụng, React chính là thư viện Frontend phổ biến nhất hiện nay, bỏ xa Vue và Angular. Với tên gọi React ULTIMATE - mục tiêu đề ra của khóa học, đấy chính là nó là phiên bản cuối cùng, là thứ DUY NHẤT các bạn cần, cũng như cập nhật MỚI NHẤT & ĐẦY ĐỦ NHẤT cho người mới bắt đầu, muốn có một góc nhìn "thực sự chính xác" về React.JS.<br><br>
             
            Ngoài ra, khi kết thúc khóa học, các bạn mới bắt đầu sẽ có đủ tự tin để làm chủ React, cũng như hiểu được, nắm vững được những kiến thức cốt lõi nhất để có thể xây dựng, phát triển một website thực tế với React.JS Khóa học sẽ thực sự bổ ích cũng như mang lại rất nhiều kiến thức cho các bạn mới bắt đầu. Với phương châm, học đi đôi với thực hành, chúng ta chỉ học "vừa đủ", chỉ học những kiến thức code lỗi nhất, hi vọng các bạn sẽ học hỏi được nhiều kiến thức, cũng như tự tin sử dụng React cho công việc của mình.<br><br>
        </p>
    </div>
    <!-- Course desc -->

    <!-- Relative courses -->
    <div class="container-fluid w-1400 my-4" id="relative-course">
        <h3 class="mb-3">Khóa học tương tự</h3>
        <!-- Row 1 -->
        <div class="row mb-xl-4">
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row ">
            <div class="col-xl-3 d-none d-xl-block">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block ">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block ">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 d-none d-xl-block ">
                <div class="card">
                    <a href="#">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Nhập môn lập trình C/C++</h5>
                        <p class="card-text">17.888.999 đ</p>
                        <p class="card-text"><small class="text-muted text-decoration-line-through">10.000.000 đ</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Relative courses -->

    <!-- Footer -->
    <footer class="container-fluid bg-black" id="footer">
        <div class=" container w-1400">
            <div class="row py-5 text-white">
                <div class="col-xl-3" id="address" style="color: #a9b3bb;">
                    <div class="logo d-flex align-content-center flex-wrap mb-3">
                        <a href="./home.html"><img src="../favicon.png" alt="error" width="38px" height="38px"></a>
                        <h4 class="logoHeading text-white">PolyUni</h4>
                    </div>
                    <p>Điện thoại: 0246.329.1102</p>
                    <p>Email: polyuni@fpt.edu.vn</p>
                    <p>Số 13, tòa nhà FPT, phố Trịnh Văn Bô, quận Nam Từ Liêm, TP. Hà Nội</p>
                </div>
                <div class="col-xl-3" id="about">
                    <h4>Về PolyUni</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">An item</li>
                        <li class="">A second item</li>
                        <li class="">A third item</li>
                        <li class="">A fourth item</li>
                        <li class="">And a fifth one</li>
                    </ul>
                </div>
                <div class="col-xl-3" id="myself">
                    <h4>Bảo mật</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">An item</li>
                        <li class="">A second item</li>
                        <li class="">A third item</li>
                        <li class="">A fourth item</li>
                        <li class="">And a fifth one</li>
                    </ul>
                </div>
                <div class="col-xl-3" id="myself">
                    <h4>Chính sách</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">An item</li>
                        <li class="">A second item</li>
                        <li class="">A third item</li>
                        <li class="">A fourth item</li>
                        <li class="">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>