<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/css_bootstrap.min.css">
    <link rel="stylesheet" href="../Public/css/myCourses.css">
    <script src="../Public/js/js_bootstrap.bundle.min.js" defer></script>
    <script src="../Public/js/jquery-3.7.1.min.js" defer></script>
    <link rel="stylesheet" href="../Public/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>PolyUni</title>
</head>

<body>
    <!-- Header -->
    <header class="d-flex justify-content-between align-content-center flex-wrap px-4" id="header">
        <div class="logo d-flex align-content-center flex-wrap">
            <a href="./home.html"><img src="../favicon.png" alt="error" width="38px" height="38px"></a>
            <h4 class="logoHeading">PolyUni</h4>
        </div>
        <form action="" method="post" class="search d-flex flex-wrap align-content-center">
            <div class="iconSearch d-flex flex-wrap align-content-center">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input class="searchInput" type="text" placeholder="Tìm kiếm khóa học, bài viết, video, ...">
        </form>
        <div class="login d-flex flex-wrap align-content-center">
            <!-- <a href="#"><button class="btn btn-Signin">Đăng nhập</button></a>
            <a href="#"><button class="btn btn-register">Đăng ký</button></a> -->
            <a href="#" class="btn btn-Signin">Đăng nhập</a>
            <a href="#" class=" btn btn-register">Đăng ký</a>

        </div>
    </header>
    <!-- Header -->

    <!-- My Course -->
    <main class="container-fluid w-1400 mt-5" id="main">
        <h3 class="my-3">Khóa học của tôi</h3>
        <div class="row mt-4">
            <div class="col-xl-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>


        </div>
        <div class="row mt-4">
            <div class="col-xl-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>


        </div>
    </main>
    <!-- My Course -->

    <!-- Footer -->
    <footer class="container-fluid bg-black mt-5" id="footer">
        <div class=" container w-1400">
            <div class="row py-5 text-white">
                <div class="col-xl-3" id="address" style="color: #a9b3bb;">
                    <div class="logo d-flex align-content-center flex-wrap mb-3">
                        <a href="./home.html"><img src="../favicon.png" alt="error" width="38px" height="38px"></a>
                        <h4 class="logoHeading text-white">PolyUni</h4>
                    </div>
                    <p>Điện thoại: 0246.329.1102</p>
                    <p>Email: polyuni@fpt.edu.vn</p>
                    <p>Số 13, tòa nhà FPT, phố Trịnh Văn Bô, quận Nam Từ Liêm, TP. Hà Nội</p>
                </div>
                <div class="col-xl-3" id="about">
                    <h4>Về PolyUni</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">An item</li>
                        <li class="">A second item</li>
                        <li class="">A third item</li>
                        <li class="">A fourth item</li>
                        <li class="">And a fifth one</li>
                    </ul>
                </div>
                <div class="col-xl-3" id="myself">
                    <h4>Bảo mật</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">An item</li>
                        <li class="">A second item</li>
                        <li class="">A third item</li>
                        <li class="">A fourth item</li>
                        <li class="">And a fifth one</li>
                    </ul>
                </div>
                <div class="col-xl-3" id="myself">
                    <h4>Chính sách</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">An item</li>
                        <li class="">A second item</li>
                        <li class="">A third item</li>
                        <li class="">A fourth item</li>
                        <li class="">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>