<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/css_bootstrap.min.css">
    <link rel="stylesheet" href="../Public/css/myCourses.css">
    <script src="../Public/js/js_bootstrap.bundle.min.js" defer></script>
    <script src="../Public/js/jquery-3.7.1.min.js" defer></script>
    <link rel="stylesheet" href="../Public/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="shortcut icon" type="image/png" href="../favicon.png" />
    <title>PolyUni</title>
</head>

<body>
        <!-- Header -->
        <header class="d-flex justify-content-between align-content-center flex-wrap px-4 d-none d-md-flex  " id="header">
            <div class="logo d-flex align-content-center flex-wrap">
                <a href="../index.html"><img src="../favicon.png" alt="error" width="38px" height="38px" /></a>
                <h4 class="logoHeading">PolyUni</h4>
            </div>
            <form action="" method="post" class="search d-flex flex-wrap align-content-center">
                <div class="iconSearch d-flex flex-wrap align-content-center">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input class="searchInput" type="text" placeholder="Tìm kiếm khóa học, bài viết, video,..." />
            </form>
            <div class="login dropdown">
                <i class="fa-regular fa-circle-user fa-xl p-3" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <!-- Dropdown box -->
                <div class="dropdown-menu p-0 rounded-0" style="top: 30px">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="d-flex bg-body-secondary p-3">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="../Public/images/avatar.png" width="40px" alt="" />
                                </div>
                                <div class="ps-3">
                                    <h5 class="mb-1">Nam Nguyễn</h5>
                                    <p class="mb-0" style="font-size: 14px">namnguyen@gmail.com</p>
                                </div>
                            </div>
                            <div class="list-group">
                                <a href="./cart.html" class="list-group-item list-group-item-action border-0 p-2">
                                    <div class="d-inline-block text-end me-2" style="width: 25px">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </div>
                                    <span>Giỏ hàng</span>
                                </a>
                                <a href="./myCourses.html" class="list-group-item list-group-item-action rounded-0 border-0 p-2" aria-current="true">
                                    <div class="d-inline-block text-end me-2" style="width: 25px">
                                        <i class="fa-solid fa-video"></i>
                                    </div>
                                    <span>Khóa học của tôi</span>
                                </a>
                                <a href="taikhoan.html" class="list-group-item list-group-item-action border-0 p-2">
                                    <div class="d-inline-block text-end me-2" style="width: 25px">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <span>Chỉnh sửa hồ sơ</span>
                                </a>
                                <a href="baomattaikhoan.html" class="list-group-item list-group-item-action border-0 p-2">
                                    <div class="d-inline-block text-end me-2" style="width: 25px">
                                        <i class="fa-solid fa-key"></i>
                                    </div>
                                    <span>Đổi mật khẩu</span>
                                </a>
                                <a href="historypayment.html" class="list-group-item list-group-item-action rounded-0 border-0 p-2">
                                    <div class="d-inline-block text-end me-2" style="width: 25px">
                                        <i class="fa-solid fa-clock-rotate-left"></i>
                                    </div>
                                    <span>Lịch sử thanh toán</span>
                                </a>
                                <a href="../index.html" class="list-group-item list-group-item-action rounded-0 border-0 p-2">
                                    <div class="d-inline-block text-end me-2" style="width: 25px">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    </div>
                                    <span>Đăng xuất</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dropdown box -->
            </div>
        </header>
        <!-- Header -->

        <!-- Header mobile -->
        <nav class="navbar navbar-expand-lg d-block d-md-none py-3" id="header">
            <div class="container-fluid p-0">
                <div class="logo d-flex align-content-center flex-wrap">
                    <a href="../index.html">
                        <img src="../favicon.png" alt="error" width="38px" height="38px" class="ms-3" />
                    </a>
                    <h4 class="logoHeading">PolyUni</h4>
                </div>

                <button
                    class="navbar-toggler me-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-white px-3 pt-3 pb-2 mt-2 border vw-100 rounded-bottom-3 " id="navbarSupportedContent">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm khóa học, bài viết, video,..." aria-label="Search"/>
                        <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="rounded-3 " src="../Public/images/avatar.png" alt="" width="40px">
                                <strong class="ms-2">Nam Nguyễn</strong>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="./cart.html">
                                        <div class="d-inline-block text-end me-2" style="width: 25px">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                        <span>Giỏ hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="./myCourses.html">
                                        <div class="d-inline-block text-end me-2" style="width: 25px">
                                            <i class="fa-solid fa-video"></i>
                                        </div>
                                        <span>Khóa học của tôi</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="taikhoan.html">
                                        <div class="d-inline-block text-end me-2" style="width: 25px">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </div>
                                        <span>Chỉnh sửa hồ sơ</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="baomattaikhoan.html">
                                        <div class="d-inline-block text-end me-2" style="width: 25px">
                                            <i class="fa-solid fa-key"></i>
                                        </div>
                                        <span>Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="historypayment.html">
                                        <div class="d-inline-block text-end me-2" style="width: 25px">
                                            <i class="fa-solid fa-clock-rotate-left"></i>
                                        </div>
                                        <span>Lịch sử thanh toán</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="../index.html">
                                        <div class="d-inline-block text-end me-2" style="width: 25px">
                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                        </div>
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header mobile -->

    <!-- My Course -->
    <main class="container-fluid w-1400 mt-5" id="main">
        <div class="row mt-4">

            <h3 class="mt-3">Khóa học của tôi</h3>

            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="./watchLesson.html">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h5 mt-3 text-center">Nhập môn lập trình C/C++</p>
                </div>
            </div>
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h5 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h5 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h5 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h5 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h5 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>
            <div class="col-xl-3 col-12 col-sm-6 mt-4">
                <div class="card">
                    <a href="">
                        <img src="../Public/images/63e1bcbaed1dd.png" class="card-img-top" alt="...">
                    </a>
                    <p class="card-text h4 mt-3 text-center">Nhập môn lập trình C/C++</p>

                </div>
            </div>


        </div>
    </main>
    <!-- My Course -->

    <!-- Footer -->
    <footer class="container-fluid bg-black mt-5" id="footer">
        <div class=" container w-1400">
            <div class="row py-5 text-white">
                <div class="col-xl-3 col-12 col-sm-6" id="address" style="color: #a9b3bb;">
                    <div class="logo d-flex align-content-center flex-wrap mb-3">
                        <a href="./home.html"><img src="../favicon.png" alt="error" width="38px" height="38px"></a>
                        <h4 class="logoHeading text-white">PolyUni</h4>
                    </div>
                    <p>Điện thoại: 0246.329.1102</p>
                    <p>Email: polyuni@fpt.edu.vn</p>
                    <p>Số 13, tòa nhà FPT, phố Trịnh Văn Bô, quận Nam Từ Liêm, TP. Hà Nội</p>
                </div>
                <div class="col-xl-3 col-12 col-sm-6" id="about">
                    <h4>Về PolyUni</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">Giới thiệu</li>
                        <li class="">Bảo mật</li>
                        <li class="">Liên hệ</li>
                        <li class="">Điều khoản</li>
                        <li class="">Cơ hội việc làm</li>
                    </ul>
                </div>
                <div class="col-xl-3 col-12 col-sm-6" id="myself">
                    <h4>Bảo mật</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">Giới thiệu</li>
                        <li class="">Bảo mật</li>
                        <li class="">Liên hệ</li>
                        <li class="">Điều khoản</li>
                        <li class="">Cơ hội việc làm</li>
                    </ul>
                </div>
                <div class="col-xl-3 col-12 col-sm-6" id="myself">
                    <h4>Chính sách</h4>
                    <ul class="list-unstyled" style="color: #a9b3bb;">
                        <li class="">Giới thiệu</li>
                        <li class="">Bảo mật</li>
                        <li class="">Liên hệ</li>
                        <li class="">Điều khoản</li>
                        <li class="">Cơ hội việc làm</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>