<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../Public/css/css_bootstrap.min.css" />
        <link rel="stylesheet" href="../Public/css/style.css" />
        <script src="../Public/js/js_bootstrap.bundle.min.js" defer></script>
        <script src="../Public/js/jquery-3.7.1.min.js" defer></script>
        <link rel="stylesheet" href="../Public/fontawesome-free-6.4.2-web/css/all.css" />
        <link rel="shortcut icon" type="image/png" href="../favicon.png" />
        <title>PolyUni</title>
    </head>

    <body>
        <!-- Header -->
        <header class="d-flex justify-content-between align-content-center flex-wrap px-4 d-none d-md-flex" id="header">
            <div class="logo d-flex align-content-center flex-wrap">
                <a href="../index.html"><img src="../favicon.png" alt="error" width="38px" height="38px" /></a>
                <h4 class="logoHeading">PolyUni</h4>
            </div>
            <form action="" method="post" class="search d-flex flex-wrap align-content-center">
                <div class="iconSearch d-flex flex-wrap align-content-center">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input class="searchInput" type="text" placeholder="Tìm kiếm khóa học, bài viết, video, ..." />
            </form>
            <div class="login d-flex flex-wrap align-content-center">
                <a href="dangnhap.html" class="btn btn-Signin">Đăng nhập</a>
                <a href="dangky.html" class=" btn btn-register">Đăng ký</a>
            </div>
        </header>
        <!-- Header -->

        <!-- Header mobile -->
        <nav class="navbar navbar-expand-lg d-block d-md-none py-3" id="header">
            <div class="container-fluid p-0">
                <div class="logo d-flex align-content-center flex-wrap">
                    <a href="../index.html">
                        <img src="../favicon.png" alt="error" width="38px" height="38px" class="ms-3" />
                    </a>
                    <h4 class="logoHeading">PolyUni</h4>
                </div>

                <button
                    class="navbar-toggler me-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-white px-3 pt-3 pb-2 mt-2 border vw-100 rounded-bottom-3" id="navbarSupportedContent">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm khóa học, bài viết, video,..." aria-label="Search" />
                        <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item p-2 border-0 ">
                            <a href="dangnhap.html" class="text-decoration-none text-secondary ">Đăng nhập</a>
                        </li>
                        <li class="list-group-item p-2">
                            <a href="dangky.html" class="text-decoration-none text-secondary ">Đăng ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header mobile -->

        <!-- ForgotPassword box -->
        <div id="forgot-password" class="container-fluid w-1400 my-4 d-flex justify-content-center">
            <div class="row w-100 justify-content-center p-3">
                <div class="border border-1 rounded-2 p-4" style="max-width: 460px">
                    <h1 class="text-center mb-3 text__main-color">Quên mật khẩu</h1>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label fw-semibold mb-1">Email</label>
                            <input type="email" class="form-control rounded-1 " id="exampleInputEmail1" />
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn bg__main-color fw-bold text-white rounded-1 " type="submit">Gửi mật khẩu mới tới email</button>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center mt-3">
                        <p class="mb-0">hoặc <a href="dangnhap.html" class="text-decoration-none fw-semibold">Đăng nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login box -->

        <!-- Footer -->
        <footer class="container-fluid bg-black" id="footer">
            <div class="container w-1400">
                <div class="row py-5 text-white">
                    <div class="col-xl-3" id="address" style="color: #a9b3bb">
                        <div class="logo d-flex align-content-center flex-wrap mb-3">
                            <a href="./home.html"><img src="../favicon.png" alt="error" width="38px" height="38px" /></a>
                            <h4 class="logoHeading text-white">PolyUni</h4>
                        </div>
                        <p>Điện thoại: 0246.329.1102</p>
                        <p>Email: polyuni@fpt.edu.vn</p>
                        <p>Số 13, tòa nhà FPT, phố Trịnh Văn Bô, quận Nam Từ Liêm, TP. Hà Nội</p>
                    </div>
                    <div class="col-xl-3" id="about">
                        <h4>Về PolyUni</h4>
                        <ul class="list-unstyled" style="color: #a9b3bb">
                            <li class="">An item</li>
                            <li class="">A second item</li>
                            <li class="">A third item</li>
                            <li class="">A fourth item</li>
                            <li class="">And a fifth one</li>
                        </ul>
                    </div>
                    <div class="col-xl-3" id="myself">
                        <h4>Bảo mật</h4>
                        <ul class="list-unstyled" style="color: #a9b3bb">
                            <li class="">An item</li>
                            <li class="">A second item</li>
                            <li class="">A third item</li>
                            <li class="">A fourth item</li>
                            <li class="">And a fifth one</li>
                        </ul>
                    </div>
                    <div class="col-xl-3" id="myself">
                        <h4>Chính sách</h4>
                        <ul class="list-unstyled" style="color: #a9b3bb">
                            <li class="">An item</li>
                            <li class="">A second item</li>
                            <li class="">A third item</li>
                            <li class="">A fourth item</li>
                            <li class="">And a fifth one</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </body>
</html>
